@font-face {
  font-family: "iconfont"; /* Project id 4794629 */
  src: url('iconfont.woff2?t=1735179591383') format('woff2'),
       url('iconfont.woff?t=1735179591383') format('woff'),
       url('iconfont.ttf?t=1735179591383') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-person:before {
  content: "\e656";
}

.icon-locked:before {
  content: "\e6de";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-yuyin:before {
  content: "\e888";
}

.icon-jianpan:before {
  content: "\e661";
}

.icon-biaoqing:before {
  content: "\e600";
}

.icon-jia1:before {
  content: "\e7a6";
}

.icon-xindepengyou:before {
  content: "\e601";
}

.icon-qunliao:before {
  content: "\e62d";
}

.icon-iconcall:before {
  content: "\e64f";
}

.icon-icon-video:before {
  content: "\e602";
}

.icon-icon_folder:before {
  content: "\e665";
}

.icon-icon-camera:before {
  content: "\e61d";
}

.icon-iconpicture:before {
  content: "\e87a";
}

.icon-icon_microphone:before {
  content: "\e60f";
}

