@font-face {
  font-family: "iconfont"; /* Project id 4776724 */
  src: url('iconfont.woff2?t=1733816298216') format('woff2'),
       url('iconfont.woff?t=1733816298216') format('woff'),
       url('iconfont.ttf?t=1733816298216') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-person:before {
  content: "\e656";
}

.icon-locked:before {
  content: "\e6de";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-yuyin:before {
  content: "\e888";
}

.icon-jianpan:before {
  content: "\e661";
}

.icon-biaoqing:before {
  content: "\e600";
}

.icon-jia1:before {
  content: "\e7a6";
}

